policy_module(application, 1.2.0)

# Attribute of user applications
attribute application_domain_type;

# Executables to be run by user
attribute application_exec_type;
